/**
 * D3 Profile Viewer Styles
 */

body {
	background: #444;
	color: white;
	margin: 0;
	padding: 0;
}

body,
body .ui-widget {
	font: 1em/1em "myriad-pro", sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

/**
 * Layout
 */

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#wrapper h1 {
	font-size: 2em;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
}

#wrapper footer {
	color: #ccc;
	font-size: 0.875em;
	text-align: center;
	margin: 36px 0;
}

/**
 * Embedded Layout
 */

body.embedded {
	background: #222;
	padding: 10px;
}

body.embedded header {
	margin: 0 0 12px;
}

body.embedded .hero .meta {
	text-align: right;
	float: right;
}
body.embedded .hero .meta .class-name {
	font-size: 1.25em;
	font-style: italic;
	font-weight: 600;
	line-height: 1em;
	margin: 0 0 4px;
}

body.embedded .hero .meta table.level {
	border-spacing: 0;
	font-size: 1em;
	line-height: 1em;
}

body.embedded .hero .meta table.level th {
	font-weight: normal;
	width: 80px;
}

body.embedded .hero .meta table.level td {
	color: #aaa;
	font-weight: 300;
	width: 32px;
}

body.embedded .hero .meta table.level .paragon th {
	color: #00b4ff;
}

body.embedded .hero .meta table.level .paragon td {
	color: #0099cc;
}

body.embedded .hero .portrait {
	border: 3px solid #534741;
	margin-right: 12px;
	float: left;
}

body.embedded .hero .portrait > div {
	background: url(#{resource['images:hero-nav-portraits.jpg']}) no-repeat;
	width: 83px;
	height: 66px;
}

body.embedded .hero .portrait .demon_hunter {
	background-position-y: -66px;
}

body.embedded .hero .portrait .monk {
	background-position-y: -132px;
}

body.embedded .hero .portrait .witch_doctor {
	background-position-y: -198px;
}

body.embedded .hero .portrait .wizard {
	background-position-y: -264px;
}

body.embedded .hero .portrait .female {
	background-position-x: -83px;
}

body.embedded .hero .names {
	float: left;
}

body.embedded .hero .names .battle-tag {
	color: #ee0;
	font-size: 2em;
	line-height: 1em;
	margin: 0 0 6px;
}

body.embedded .hero .names .hero {
	font-size: 1.25em;
	line-height: 1em;
}

body.embedded .hero .official-link {
	font-size: 0.75em;
	line-height: 1em;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

body.embedded .hero .official-link a {
	color: #aaa;
}

body.embedded .hero .stats table {
	font-size: 0.875em;
	line-height: 1.125em;
	float: left;
}

body.embedded .hero .stats table.left {
	margin-right: 64px;
}

body.embedded .hero .stats table.right {
	float: right;
}

body.embedded .hero .stats th {
	font-weight: normal;
	text-align: left;
	width: 96px;
}

body.embedded .hero .stats td {
	color: #ccc;
	font-weight: 300;
	text-align: right;
	width: 84px;
}

/**
 * Widget Styles
 */

body .ui-inputtext {
	background: #555;
	color: white;
}

body .ui-selectonemenu .ui-selectonemenu-label {
	box-shadow: none;
	background: #666;
	color: white;
	padding: 10px 6px 8px;
}

body .ui-selectonemenu .ui-selectonemenu-trigger {
	padding: 7px 6px 0;
}

body .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
	background: #888;
	color: white;
}

/**
 * Misc
 */

.centered {
	text-align: center;
}

.centered .ui-selectonemenu-label {
	text-align: left;
}

.block-centered {
	margin: 0 auto;
}

.image-text {
	display: block;
}

.image-text span {
	display: none;
}

/**
 * Ajax loading indicator
 */

#ajax-loading-indicator {
	display: none;
}

#ajax-loading-indicator .content {
	position: fixed;
	top: 12px;
}

#ajax-loading-indicator .content .box {
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(100, 100, 100, 0.25);
	background: white url(#{resource['images:ajax-loading.gif']}) 12px 7px
		no-repeat;
	background-size: 15px 15px;
	color: #888;
	font-size: 1em;
	font-weight: 300;
	line-height: 1em;
	opacity: 0.8;
	display: inline-block;
	padding: 6px 12px 6px 34px;
	float: right;
}

/* Clear fix (http://www.positioniseverything.net/easyclearing.html) */

.clear-block:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear-block {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
	height: 1%;
}
.clear-block {
	display: block;
}
/* End hide from IE-mac */

.clear-both {
	clear: both;
}
