<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		metadata-complete="true" version="3.0">

	<display-name>D3 Profile Viewer</display-name>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/notFound.xhtml</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.xhtml</location>
	</error-page>

	<filter>
		<filter-name>Pretty Filter</filter-name>
		<filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Pretty Filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>com.bc.d3.web.NoValidateXmlWebAppContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:META-INF/spring/app-context.xml,
			classpath:META-INF/spring/web-context.xml
		</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>cruze</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/bc.taglib.xml</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.WRAP_SCRIPT_CONTENT_WITH_XML_COMMENT_TAG</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ALGORITHM</param-name>
		<param-value>AES</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ALGORITHM.PARAMETERS</param-name>
		<param-value>CBC/PKCS5Padding</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ALGORITHM.IV</param-name>
		<param-value>Q0hBTkdFIFRISVMgSVYhIQ==</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.SECRET</param-name>
		<param-value>Q0hBTkdFIFNFQ1JFVCEhIQ==</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.MAC_SECRET</param-name>
		<param-value>Q0hBTkdFIE1BQ1NFQ1JFVA==</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
</web-app>